.THIS .mousePointer{
    cursor: pointer;
}
.THIS .shadow{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.THIS .bumping svg{
    animation-name: bump;
    animation-duration: 2s;
}
@keyframes bump {
    0% { opacity: 0;}
    100% { opacity: 100%;}
}